<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uni18ED</key>
	<string>uni18E_D_.glif</string>
	<key>uni18F0</key>
	<string>uni18F_0.glif</string>
	<key>uni18F2</key>
	<string>uni18F_2.glif</string>
</dict>
</plist>
